.bottom-panel{
    margin-top: 6px;
}
.bottom-panel .new-post-label{
    width: auto;
    flex-grow: 1;
    margin-right: 3px;
}
.warning-text h6{
    margin-top: 14px;
    animation: animate 3s ease-in-out;
}
@keyframes animate {
    0%{
        opacity:0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;

    }
}